.add-Form {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.add-label {
    margin-top: 1.5em;
    color:whitesmoke;
}

.create-button {
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: rgb(122, 134, 156);
    border:1px solid black;
    border-radius: 5px;
    color:white;
}

.wrapper {
    border:2px solid rgb(4, 4, 5);
    border-radius: 15px;
    background-image: linear-gradient(rgb(0, 140, 255), rgb(38, 0, 255), rgb(60, 0, 128));
    width:40vw;
    display:flex;
    flex-direction: column;
    align-items: center;
}