.signup-form {
    display : flex;
    flex-direction: column;
    align-items: center;
}

.sign-container {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.signIp {
    margin-top:1vh;
}